html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.col-1,
.col-2,
.col-3 {
  position: relative;
  width: 100%;
  padding: 0px 15px;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

::-moz-selection {
  background-color: grey;
  color: #fff;
}

::selection {
  background-color: grey;
  color: #fff;
}

html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  min-width: 320px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #05c7ae;
}

body::-webkit-scrollbar-thumb {
  background: #05c7ae;
  border-radius: 15px;
}

img {
  display: block;
  max-width: 100%;
}

.lock {
  overflow: hidden !important;
}

.none {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .6s linear;
  -o-transition: all .6s linear;
  transition: all .6s linear;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col.hidden {
  display: none;
}

.col2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.col3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

.section {
  background: -o-radial-gradient(center, ellipse, #313741 0%, #000000 100%);
  background: radial-gradient(ellipse at center, #313741 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313741', endColorstr='#000000',GradientType=1 );
}

.pp-scrollable {
  overflow-y: auto !important;
  overflow-x: hidden;
}

.pp-scrollable::-webkit-scrollbar {
  width: 5px;
}

.pp-scrollable::-webkit-scrollbar-track {
  background: #313741;
}

.pp-scrollable::-webkit-scrollbar-thumb {
  background: #05c7ae;
  border-radius: 15px;
}

@font-face {
  font-family: "OpenSans-Bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  position: fixed;
  width: 100%;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  z-index: 60;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #282a2e;
  -webkit-box-shadow: 0 0 40px -2px #8491a2;
          box-shadow: 0 0 40px -2px #8491a2;
}

.header .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo {
  z-index: 5;
  margin-left: 20px;
}

.header .header__logo img {
  height: 30px;
  width: 30px;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  position: relative;
}

.header .header__logo img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  -o-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 4;
  stroke-linecap: round;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.header__list {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.header__list li.active a {
  color: #05c7ae;
}

.header__list a {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  font-family: "OpenSans-Regular";
  text-decoration: none;
  letter-spacing: 3px;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
  margin: 0 10px;
}

.header__list a::before {
  position: absolute;
  top: -10px;
  left: 0;
  overflow: hidden;
  padding: 10px 0;
  max-width: 0;
  border-bottom: 2px solid #05c7ae;
  color: #05c7ae;
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -o-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.header__list a:hover::before {
  max-width: 100%;
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pp-section {
  height: 100%;
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.pp-easing {
  -webkit-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  -o-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  -o-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
}

#pp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
}

#pp-nav.right {
  right: 17px;
}

#pp-nav.left {
  left: 17px;
}

.pp-section.pp-table {
  display: table;
}

.pp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.pp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}

.pp-slidesNav.bottom {
  bottom: 17px;
}

.pp-slidesNav.top {
  top: 17px;
}

#pp-nav ul,
.pp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#pp-nav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.pp-slidesNav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
  display: inline-block;
}

#pp-nav li a,
.pp-slidesNav li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#pp-nav li .active span,
.pp-slidesNav .active span {
  background: #333;
}

#pp-nav span,
.pp-slidesNav span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.pp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
}

.pp-tooltip.right {
  right: 20px;
}

.pp-tooltip.left {
  left: 20px;
}

.pp-scrollable {
  overflow-y: scroll;
  height: 100%;
}

.particles-js-canvas-el {
  position: absolute;
  bottom: 0;
  left: 0;
}

.intro {
  width: 100%;
  height: 100%;
  color: #ffffff;
  position: relative;
}

.intro .text-left {
  font-family: "OpenSans-Regular";
}

.intro .text-left p {
  font-size: 28px;
}

.intro .intro__inner {
  height: 100vh;
  width: 100%;
  background: #1f2229;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro__title {
  font-size: 120px;
}

.intro .intro__subtitle {
  font-size: 84px;
  font-family: "OpenSans-Bold";
}

.intro .intro__subtitle span {
  font-family: "OpenSans-Regular";
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0;
  font-size: 40px;
  -webkit-animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;
          animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }

  50% {
    border-color: #ffffff;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }

  50% {
    border-color: #ffffff;
  }
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 300px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9;
}

.scroll {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}

.scroll::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 18px;
  width: 18px;
  height: 18px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@keyframes down {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  20% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }

  40% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  20% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }

  40% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.about {
  padding: 100px 0px;
}

.about .about__foto {
  max-width: 368px;
}

.about .about__foto .about__img {
  border: 7px solid #00d7bb;
  padding: 46px 46px 0 0;
  margin-bottom: 80px;
}

.about .about__foto .about__img img {
  width: 100%;
  height: auto;
  margin-bottom: -46px;
  margin-left: -46px;
  background: #141820;
}

.about .about__foto a:hover {
  text-decoration: none;
}

.about .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.about .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 15px;
}

.about .about__btn {
  padding: 20px 0px;
  font-family: "OpenSans-Bold";
  color: #ffffff;
  background: #02cfb4;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 43px rgba(38, 225, 178, 0.34);
          box-shadow: 2px 2px 43px rgba(38, 225, 178, 0.34);
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  border: none;
  outline: none;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.about .about__btn:hover {
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  color: #ffffff;
  -webkit-box-shadow: 0 0 50px -2px #02cfb4;
          box-shadow: 0 0 50px -2px #02cfb4;
  background: #22252c;
}

.about .about__btn img {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  max-width: 368px;
}

.about .about__btn:hover img {
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-transform: scale(1.7);
      -ms-transform: scale(1.7);
          transform: scale(1.7);
}

.about .about__title {
  color: #02cfb4;
  font-size: 45px;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  letter-spacing: 0.54px;
  margin: 20px 0 20px 0;
}

.about .about__subtitle {
  color: #ffffff;
  font-size: 14px;
  font-family: "OpenSans-Regular";
  line-height: 24px;
  letter-spacing: 0.56px;
  margin-bottom: 27px;
}

.about .about__text {
  font-family: "OpenSans-Bold";
  color: #00d7bb;
  font-size: 18px;
  text-transform: uppercase;
}

.about .about__text span {
  font-family: "OpenSans-Regular";
  color: #ffffff;
}

.about-interests {
  margin-top: 100px;
}

.about-interests .text-center {
  color: #00d7bb;
  font-size: 39px;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  letter-spacing: 3.84px;
}

.about-icons__block {
  margin-top: 50px;
  border: 2px solid #00d7bb;
  border-radius: 50%;
  padding: 30px;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-icons__block:hover {
  background: #00d7bb;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  cursor: pointer;
  -webkit-box-shadow: 0 0 80px -13px #02cfb4;
          box-shadow: 0 0 80px -13px #02cfb4;
}

.about-icons__block img {
  width: 35px;
  height: auto;
}

.skills {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "OpenSans-Regular";
}

.skills:hover .active-path {
  fill: #ffffff;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.skills .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .container .row {
  margin: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills .skills__title {
  color: #02cfb4;
  font-size: 45px;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  letter-spacing: 0.9px;
  margin-bottom: 50px;
}

.skills .progress {
  margin-bottom: 60px;
  height: 13px;
  background: #313741;
  font-size: 13px;
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.skills .progress span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-left: 10px;
}

.skills .progress__name {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 15px;
  font-family: "OpenSans-Regular";
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .progress__name svg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.active-path {
  fill: white;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.bg-success {
  background-color: #05c7ae !important;
}

.works {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "OpenSans-Regular";
}

.works .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.works .container .row .col {
  padding: 5px;
}

.works .text-center {
  color: #02cfb4;
  font-size: 45px;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0px;
}

.button {
  padding: 12px 24px;
  margin-right: 18px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  outline: none;
  position: relative;
  background: transparent;
  font-size: 20px;
}

.button:last-child {
  margin-right: 0;
}

.button.mixitup-control-active {
  background: #05c7ae;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  margin: 15px;
  text-align: center;
  color: white;
  overflow: hidden;
  -webkit-transition: 0.5s -webkit-box-shadow;
  transition: 0.5s -webkit-box-shadow;
  -o-transition: 0.5s box-shadow;
  transition: 0.5s box-shadow;
  transition: 0.5s box-shadow, 0.5s -webkit-box-shadow;
  border-radius: 3px;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 50px -2px #02cfb4;
          box-shadow: 0 0 50px -2px #02cfb4;
}

.footer {
  font-size: 26px;
  font-family: "OpenSans-Regular";
}

.footer a {
  text-decoration: none;
}

.footer .text-center {
  color: #02cfb4;
  font-size: 45px;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  letter-spacing: 0.9px;
  margin-bottom: 25px;
}

.footer .footer__git {
  color: #ffffff;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__git a {
  color: #ffffff;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}

.footer .footer__git:hover img {
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.footer .footer__git:hover a {
  color: #02cfb4;
  text-decoration: none;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}

.footer .footer__git img {
  margin-right: 5px;
  width: 28px;
  height: auto;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  margin-right: 10px;
}

.footer .footer__email {
  color: #ffffff;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

.footer .footer__email:hover {
  color: #02cfb4;
}

.footer .footer__email:hover img {
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.footer .footer__email img {
  margin-right: 5px;
  width: 28px;
  height: auto;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  margin-right: 10px;
}

.footer .footer__phone {
  color: #ffffff;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__phone:hover {
  color: #02cfb4;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.footer .footer__phone:hover img {
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.footer .footer__phone img {
  width: 28px;
  height: auto;
  margin-right: 5px;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notie-container {
  font-size: 1.6rem;
  height: auto;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.notie-container a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.notie-background-success {
  background-color: #57bf57;
}

.notie-background-warning {
  background-color: #d6a14d;
}

.notie-background-error {
  background-color: #e1715b;
}

.notie-background-info {
  background-color: #4d82d6;
}

.notie-background-neutral {
  background-color: #a0a0a0;
}

.notie-background-overlay {
  background-color: #fff;
}

.notie-textbox {
  color: #fff;
  padding: 20px;
}

.notie-textbox-inner {
  margin: 0 auto;
  max-width: 900px;
}

.notie-overlay {
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
}

.notie-button {
  cursor: pointer;
  color: #fff;
  padding: 10px;
}

.notie-element {
  color: #fff;
  padding: 10px;
}

.notie-element-half {
  width: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.notie-element-third {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33.3333%;
}

.notie-alert {
  cursor: pointer;
}

.notie-input-field {
  background-color: #fff;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.notie-select-choice-repeated {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.notie-date-selector-inner {
  margin: 0 auto;
  max-width: 900px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.notie-date-selector-inner [contenteditable] {
  outline: 0 solid transparent;
}

.notie-date-selector-inner [contenteditable]:focus {
  outline: 0 solid transparent;
}

.notie-date-selector-up {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.notie-background-success {
  background: #05c7ae;
  z-index: 999;
}

.notie-background-info {
  background: #313741;
}

.notie-background-overlay {
  background: #58616d;
}

.notie-background-neutral.notie-button {
  display: none;
}

.loading {
  width: 100%;
  height: 100vh;
  background-color: #22252c;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999999;
}

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-animation: sk-chase 2.5s infinite linear both;
          animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: sk-chase-dot 2.0s infinite ease-in-out both;
          animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #05c7ae;
  border-radius: 100%;
  -webkit-animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
          animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

@-webkit-keyframes sk-chase {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes sk-chase {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-chase-dot {
  80%, 100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%, 100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-chase-dot-before {
  50% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }

  100%, 0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }

  100%, 0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 575px) {
  .col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media screen and (max-width: 991px) {
  .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .col2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header {
    height: 75px;
  }

  .ham {
    position: relative;
    display: block;
    z-index: 3;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #313741;
    background: -o-radial-gradient(center, ellipse, #313741 0%, #000000 100%);
    background: radial-gradient(ellipse at center, #313741 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313741', endColorstr='#000000',GradientType=1 );
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  .header__nav.is-active {
    left: 0;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    overflow: auto;
    opacity: 1;
    visibility: visible;
  }

  .header__nav.is-active .header__list li {
    left: 0;
  }

  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 60px;
  }

  .header__list li {
    position: relative;
    padding: 45px 0;
    top: 0;
    left: -100%;
  }

  .header__list li:nth-child(1) {
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .header__list li:nth-child(2) {
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
  }

  .header__list li:nth-child(3) {
    -webkit-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
  }

  .header__list li:nth-child(4) {
    -webkit-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
  }

  .header__list li:nth-child(5) {
    -webkit-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
  }

  .header__list a {
    font-size: 25px;
  }

  .about .about__foto {
    margin: 0 auto;
  }

  .about .about__foto a:hover {
    margin: 0 auto;
  }

  .about .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about .about__btn {
    margin: 0 auto;
  }

  .about .about__foto {
    max-width: 368px;
  }

  .about .about__foto .about__img {
    border: 2px solid #00d7bb;
    padding: 0;
    margin-bottom: 30px;
  }

  .about .about__foto .about__img img {
    width: 100%;
    height: auto;
    margin-bottom: -0px;
    margin-left: -0px;
    background: #141820;
  }

  .about .about__foto .about__btn {
    padding: 13px 10px;
  }

  .about-icons__block {
    margin-top: 25px;
    padding: 25px;
  }

  .skills {
    display: block;
    padding: 100px 0 0 0;
  }

  .skills .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .skills .progress {
    margin-right: 0px;
  }

  .works {
    display: block;
    padding: 100px 0 0 0;
  }

  .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 700px;
            flex: 0 1 700px;
  }
}

@media screen and (max-width: 900px) {
  .notie-container {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .intro .intro__inner .intro__title {
    font-size: 90px;
  }

  .intro .intro__inner .intro__subtitle {
    font-size: 52px;
  }

  .intro .intro__inner .typewriter {
    font-size: 25px;
  }

  .about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about .about__title {
    margin-top: 30px;
    font-size: 30px;
  }

  .about .about__title .about__foto {
    max-width: 368px;
  }

  .about .about__title .about__foto .about__img {
    border: 2px solid #00d7bb;
    padding: 0;
  }

  .about .about__title .about__foto .about__img img {
    width: 100%;
    height: auto;
    margin-bottom: -0px;
    margin-left: -0px;
    background: #141820;
  }

  .about .about__title .about__btn {
    padding: 15px 20px;
  }

  .about-interests {
    margin-top: 50px;
  }

  .about-interests .text-center {
    color: #00d7bb;
    font-size: 30px;
  }

  .skills .skills__title {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .skills .skills__title .progress {
    margin-bottom: 30px;
    height: 10px;
  }

  .skills .skills__title .progress__name {
    font-size: 18px;
  }

  .works {
    font-family: "OpenSans-Regular";
  }

  .works .text-center {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .footer .text-center {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .footer .footer__phone,
  .footer .footer__email,
  .footer .footer__git {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: none;
    margin: 0;
  }

  .header {
    height: 60px;
  }

  .about {
    padding: 70px 0 0 0;
  }

  .skills {
    padding: 70px 0 0 0;
  }
}

@media screen and (max-width: 750px) {
  .notie-container {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 662px) {
  .col2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .works .container .row {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 500px) {
  .header__list li {
    padding: 35px 0;
  }
}

@media screen and (max-width: 465px) {
  .filter {
    padding: 0;
  }
}

@media screen and (max-width: 440px) {
  .about .about__btn {
    padding: 13px 10px;
  }
}

@media screen and (max-width: 425px) {
  .intro .intro__inner .intro__title {
    font-size: 55px;
  }

  .intro .intro__inner .intro__subtitle {
    font-size: 32px;
  }

  .intro .intro__inner .typewriter {
    font-size: 22px;
  }
}

@media screen and (max-width: 420px) {
  .button {
    padding: 12px;
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .notie-container {
    font-size: 1rem;
  }
}

@media screen and (max-height: 810px) {
  .skills,
  .works,
  .about {
    display: block;
    padding: 100px 0 0 0;
  }
}

@media screen and (max-height: 320px) {
  .field {
    display: none;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 575px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 576px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 750px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 662px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 500px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 465px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 425px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 420px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-height: 810px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-height: 320px){

@supports (-webkit-appearance:none){

}

}
